.hero {
  position: relative;
  height: 100vh;
  background-image: url("../../assests/cafeImage.webp"); /* Replace 'hero-image.jpg' with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity as needed */
}

.hero-content {
  max-width: 600px;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1.2rem;
  }
}
