.header {
  background-color: #333; /* Dark background color */
  color: #fff; /* Text color */
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.logo {
  max-height: 30px;
}

.nav-menu {
  display: flex;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 20px;
  position: relative;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #333;
  padding: 10px;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* max-height: 0; */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.dropdown-menu.open {
  max-height: 200px; /* Adjust max-height as needed */
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
}

.dropdown-toggle {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav-list {
    gap: 20px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: #333;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1000;
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .dropdown-menu.open {
    display: block;
  }
}
